{# src/AppBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/blog.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/sidebar.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
   {{ render(controller( 'AppBundle:HomePage:sidebar' )) }}
{% endblock %}
